{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Règlement & Code de conduite</h1>
	</div>
</div>
<div class="container">
    <h3>Règlement</h3>
    <hr>
    <p>Ce règlement régit le déroulement de l’événement CTF BNC qui a lieu le 6 février 2019. Les exemples énumérés ne sont pas exhaustifs et toutes les activités susceptibles de porter atteinte à l’image de la Banque Nationale, sa réputation, ses clients, sa propriété intellectuelle, ses actifs, ses données, ses environnements technologiques, en font partie. Toute personne qui contrevient à ces règlements sera passible de sanctions et poursuites sans préjudice à tout autre recours de la Banque Nationale.</p>
    <ul>
        <li>Il est strictement interdit de se déplacer dans les étages de la Banque Nationale autres que celui désigné pour l’événement;</li>
        <li>Il est strictement interdit d’accéder aux réseaux et environnements technologiques de la Banque Nationale autres que celui qui vous a été explicitement communiqué à l’effet du CTF;</li>
        <li>Il est strictement interdit d’accéder frauduleusement, analyser, balayer, scanner ou utiliser tout outil de piratage contre les environnements technologiques de la Banque Nationale incluant, les serveurs, postes de travail, réseaux filaires et sans-fil, sites web, applications, mis à part ceux mis explicitement à votre disposition dans le cadre de l’événement. Cette liste n’est pas exhaustive;</li>
        <li>Il est strictement interdit d’attaquer en dénis de service la plateforme de la compétition ou d’en perturber le fonctionnement;</li>
        <li>Il est strictement interdit d’attaquer ou de pirater informatiquement un autre participant ou son équipement ou d’entraver sa réussite dans la compétition pour le seul bénéfice de l’empêcher de gagner ou de vous favoriser à son insu.</li>
    </ul>
    </br>

    <h3>Code de conduite</h3>
    <hr>
    <p>- Tous les participants sont tenus de reconnaître et de respecter ce code de conduite. Nous nous attendons à la coopération de tous les participants pour qu’elle contribue à créer un environnement sûr pour tous.</p>
    <p>Ce code de conduite n’est pas un document juridique, mais plutôt une déclaration d’intention concernant le type d’environnement voulu pour cette compétition. Les exemples énumérés dans les sections ci-dessous ne sont pas exhaustifs et visent à illustrer un comportement qui ne correspond pas aux valeurs de la Banque Nationale et aux événements qu’elle accueille.</p>
    <ul>
        <li>Soyez amical et accueillant. La compétition est un environnement sûr et positif pour tous indépendamment de l'identité de genre, de l'orientation sexuelle, du handicap, de l'apparence physique, de la taille du corps, de la race, de la religion, de l'âge, de la situation économique, du niveau d'éducation, des options de système d'exploitation, de l'éditeur de texte ou des préférences de langage.</li>
        <li>Soyez patient et constructif. N'oubliez pas que les gens sont ici pour apprendre, partager leurs connaissances et s'amuser. </li>
        <li> Soyez respectueux et collaboratifs. Respectez en particulier les différences d’opinion et les différences entre les personnes.</li>
        <li>Tenez compte de votre environnement et de celui des autres utilisateurs. Les autres utilisateurs peuvent avoir un niveau de confort différent en ce qui concerne la langue et l'espace personnel.</li>
        <li>Tous les participants doivent s’abstenir de toute activité irrespectueuse, dérangeante et illégale lorsqu'ils participent à l’événement et se conduisent dans le respect des autres en tout temps.</li>
        <li>Toute conduite intimidante, harcelante, abusive, discriminatoire, péjorative ou dégradante à l'égard d'un autre participant est strictement interdite.</li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
